{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
<pre class="font-semibold p-6 whitespace-pre-wrap word-wrap break-word">
Suicune to smukły, czworonożny, niebieski ssaczy Pokémon z białymi znakami w kształcie rombu. Jego twarz i spód również są białe. Suicune ma gęstą, fioletową grzywę, która przypomina zorzę polarną i dwa białe, podobne do wstęg ogony, które falują do przodu. Ma długi, biały pysk. Suicune ma duży, sześciokątny grzebień w kolorze ceruleum na czole, który przypomina poroże Qilina z dwoma zębami po obu stronach podstawy. Ma czerwone oczy, małą kępkę futra pod brodą i małe łapy z białymi poduszkami.

Suicune ma moc chodzenia po wodzie i oczyszczania brudnej wody jednym dotknięciem. Przemierza łąki w poszukiwaniu wody do oczyszczenia. Północne wiatry zawsze wydają się wiać silniej w jego obecności. W Pokémon Crystal mówi się, że Suicune jest najbliższy Ho-Oh'owi z Legendarnych bestii. Mówi się także, że ma powiązanie z Unownami. W anime pokazano Suicune'a jako bohaterskiego, poważnego i opanowanego podczas niebezpiecznych sytuacji.

Ash i jego przyjaciele pierwszy raz napotkali Suicune'a podczas wędrówki do Miasteczka New Bark w odcinku Nie dotykaj tego!. Suicune stał na małej wysepce w jeziorze, ukazując się jako tajemnicza sylwetka niebieskiej energii. Na początku Ash nie mógł zrozumieć, co to za Pokémon i zamierzał go złapać. Jednakże Suicune wskoczył w mgłę i zniknął, gdy Ash zamierzał z nim walczyć.

Suicune pojawił się ponownie w Kryształowy dzwon. Kiedy Zespół R usunął Kryształowe Dzwony z Cynowej Wieży Ecruteak, wiele Robaczych Pokémonów zaatakowało miasto. Uwięzili Jessie, Jamesa i Meowtha Strzałem Nicią i zablokowali wejście do Cynowej Wieży. Suicune pojawił się w mistycznym niebieskim świetle i uspokoił dzikie Pokémony. Widząc Legendarnego Pokémona, Jessie nakazała Arbokowi wystrzelić Trujące Żądło, ale Suicune uniknął ciosu i posłał Zespół R w przestworza Promieniem Aurory.

Eusine zapragnął złapać Suicune'a i wysłał do walki z nim swojego Alakazama. Alakazam użył Wyłączenia, lecz Suicune z łatwością zablokował ruch Lustropowłoką. Następnie użył Ryku, wysyłając Alakazama z powrotem do Poké Balla, po czym uciekł z miejsca zanim Eusine w ogóle zdążył zareagować. To krótkie spotkanie sprawiło, że Eusine zaczął ścigać Suicune'a w nadziei, że pewnego dnia go jeszcze spotka.

Jego znane ruchy to Promień Aurory, Lustropowłoka i Ryk.
</pre>
{% endblock content %}