{% extends 'base.html' %}

{% block title %}{{mess.room.name}}{% endblock title %}

{% block content %}
<ul class="list-none">
    <li class="{% if mess.created == mess.updated %} mb-3 {% endif %} font-semibold">Created by {{mess.host}} on {{mess.created}}</li>
    {% if mess.created != mess.updated %}
        <li class="mb-3 italic">Edited: {{mess.updated}}</li>
    {% endif %}
    <li class="mb-3">{{mess.body}}</li>
    </a>
    {% if request.user == mess.host %}
        <div class="p-6 rounded-xl">
            <a href="{% url 'core:mess_edit' mess.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Edit</a>
            <a href="{% url 'core:mess_delete' mess.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
        </div>
    {% endif %}
</ul>
{% endblock content %}
